<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<meta name="author" content="Michael Wan">

		<title>{{ formatted_class_name }}</title>
		{% load static %}
		<link rel = "icon" href = "{% static 'img/icon/blackbox.png' %}">
		{% load static %}
		<meta property="og:image" content="{% static 'img/icon/icon.png' %}"/>

		{% load static %}
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'theme/vendor/bootstrap/css/bootstrap.css' %}"/>
		{% load static %}
		<link href="{% static 'stylesheets/odometer.css' %}" rel="stylesheet">
		{% load static %}
		<link href="{% static 'stylesheets/input.css' %}" rel="stylesheet">

		<!-- Theme CSS -->
		{% load static %}
		<link href="{% static 'theme/css/agency.css' %}" rel="stylesheet">
		
		<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>

		<style>
			{% ifnotequal 'Grader' submit_type %}
			.problems_container {
				max-height: 750px;
				overflow-y: scroll
			}
			{% endifnotequal %}
			.border {
				border-radius:4px;
				border: 2px solid #4684ED;
				background: #4684ED;
				padding: 4px 8px 4px 8px;
				display: inline;
				text-align: center;
				color: white;
			}
			.border a {
				font-weight: 500;
				color: white;
			}
			.noselect {
				-webkit-user-select: none;  /* Chrome all / Safari all */
				-moz-user-select: none;	 /* Firefox all */
				-ms-user-select: none;	  /* IE 10+ */
				user-select: none;		  /* Likely future */	  
			}
			.dropdown-menu li a:hover,
			.dropdown-menu li a:focus {
				color: #111111 !important;
			}
			span .katex {
				/*word-wrap: break-word;*/
				color: #4684ED !important;
			}
		</style>
	</head>

	<body id="page-top" class="index">
		{% load student_extras %}
		{% include "menubar.html" with include_template_title=formatted_class_name %}

		<section id = "main" style = "padding-bottom: 15vh !important">
			<div class = "noselect container">
				<div class = "row">
					<div class = "col-sm-9">
						Logged in as <b><i>{{ username }}</i></b><br>
						<a href = "/student/">Home</a>
						<h2>{{ formatted_class_name }}</h2>
					</div>
					<div class = "col-sm-3">
					</div>
				</div>
			</div>
			<br><br>
			<div class = "row" style = "display: block">
				<div class = "col-sm-4"></div>
				<div class = "col-sm-4" style = "padding: 15px 15px 15px 15px; border: solid; border-width: 1px; border-color: #4684ED; border-radius: 5px">
					<div id = "element"></div>
					<div id = "stats">
					</div>
					<div id = "choose_topic">
						Choose a topic to practice:<br>
						{% for i in topics|length|get_range %}
							{% with topics|index:i as t %}
								{% with concise_topics|key:t as t_name %}
									<a href="#" id = "set_topic_{{t_name}}">{{t_name}}</a>
								{% endwith %}
								{% if i != topics|length|add:"-1" %}
									&nbsp;&nbsp;/&nbsp;&nbsp;
								{% endif %}
								<!-- <a href="#" id = "set_topic_Counting & Probability">Counting & Probability</a>&nbsp;&nbsp;/&nbsp;&nbsp;
								<a href="#" id = "set_topic_Geometry">Geometry</a>&nbsp;&nbsp;/&nbsp;&nbsp;
								<a href="#" id = "set_topic_Number Theory">Number Theory</a>&nbsp;&nbsp;/&nbsp;&nbsp;
								<a href="#" id = "set_topic_Problem Solving">Problem Solving</a> -->
							{% endwith %}
						{% endfor %}
					</div>
					<div id = "sort_problems" style = "display: none">
						<br>
						Problems:<br>
						<a href="#difficulty">Sort by difficulty</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#random">Randomize</a>
					</div>
					<div id = "reg" style = "display: none">
						<span style = "padding: 0px 1px 0px 3px; border: solid; border-width: 1px; border-color: #3869bd;
						background-color: #3869bd; border-radius: 5px">
							<a style = "color: #FFFFFF" href = "#" id = "cur_topic">Algebra</a>
						</span>
						<span style = "float: right; color: #3869bd" id = "settings">
							<a href = "#" id = "settings"><i class="fa fa-bars" aria-hidden="true" id = "settings"></i></a>
						</span>
						<br><br>
						<div id="problem_prompt"></div>
						<div id="problem_choices"></div>
						<br><br>
						<select name = "answer" id = "answer">
						  <option value="A">A</option>
						  <option value="B">B</option>
						  <option value="C">C</option>
						  <option value="D">D</option>
						  <option value="E">E</option>
						</select>
						<br><br>
						<input type="submit" value = "Give up" id = "giveup" onclick="send_answer(0)">
						<span style = "float: right"><input type="submit" value = "Submit" id = "submit" onclick="send_answer(1)"></span>
					</div>
				</div>
				<div class = "col-sm-4"></div>
			</div>
		</section>
		<hr>
		{% include "footer.html" %}
	</body>
	<br><br>
	<!-- jQuery -->
	{% load static %}		
	<script src="{% static 'theme/vendor/jquery/jquery.min.js' %}"></script>
	<!-- Bootstrap Core JavaScript -->
	{% load static %}		
	<script src="{% static 'theme/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- Plugin JavaScript -->
	{% load static %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Contact Form JavaScript -->
	{% load static %}
	<script src="{% static 'theme/js/jqBootstrapValidation.js' %}"></script>
	{% load static %}		
	<script src="{% static 'theme/js/contact_me.js' %}"></script>
	<!-- Theme JavaScript -->
	{% load static %}		
	<script src="{% static 'theme/js/agency.min.js' %}"></script>
	<!-- Odometer JavaScript -->
	{% load static %}
	<script src="{% static 'js/odometer.js' %}"></script>
	<!-- Waypoints -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- select2 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<script>
		problem_dict = {};
		cur_topic_value = "Number Theory";
		cur_index = "1";
		{% for l in topics %}
			topic_dict = {};
			{% if questions|key:l != None %}
				{% for i in questions|key:l %}
					topic_dict["{{i}}"] = 
					{"prompt": "{{questions|key:l|key:i|key:'prompt'|safe}}",
					 "choices": "{{questions|key:l|key:i|key:'choices'|safe}}",
					 "img": "{{questions|key:l|key:i|key:'img'|safe}}",
					 "soln": "{{questions|key:l|key:i|key:'soln'|safe}}",
					 "difficulty": "{{questions|key:l|key:i|key:'difficulty'|safe}}"}
						
				{% endfor %}
			{% endif %}
			problem_dict["{{l}}"] = topic_dict
		{% endfor %}
		{% for l in topics %}
			{% if questions|key:l != None %}
				{% for i in questions|key:l %}
					problem_dict["{{l}}"]["{{i}}"]["prompt"] = problem_dict["{{l}}"]["{{i}}"]["prompt"];
					problem_dict["{{l}}"]["{{i}}"]["choices"] = problem_dict["{{l}}"]["{{i}}"]["choices"];
					problem_dict["{{l}}"]["{{i}}"]["img"] = problem_dict["{{l}}"]["{{i}}"]["img"];
					problem_dict["{{l}}"]["{{i}}"]["soln"] = problem_dict["{{l}}"]["{{i}}"]["soln"];
					problem_dict["{{l}}"]["{{i}}"]["difficulty"] = problem_dict["{{l}}"]["{{i}}"]["difficulty"];
				{% endfor %}
			{% endif %}
		{% endfor %}
		console.log(problem_dict);
		katex.render(problem_dict["Number Theory"]["1"]["prompt"], problem_prompt);
		katex.render(problem_dict["Number Theory"]["1"]["choices"], problem_choices);
		// document.getElementById("problem_prompt").innerHTML = JSON.stringify(problem_dict["Number Theory"]["1"]["prompt"]).substring(1).slice(0, -1);
		// document.getElementById("problem_choices").innerHTML = JSON.stringify(problem_dict["Number Theory"]["1"]["choices"]).substring(1).slice(0, -1);
	</script>
	<script>
		function send_answer(value) {
			//implement randomize
			cur_index = (parseInt(cur_index) + 1).toString(); //watch out for overflow
			if (cur_index >= Object.keys(problem_dict[cur_topic_value]).length) {
				cur_index = "1";
			}
			// document.getElementById("problem_prompt").innerHTML = JSON.stringify(problem_dict[cur_topic_value][cur_index]["prompt"]).substring(1).slice(0, -1);
			// document.getElementById("problem_choices").innerHTML = JSON.stringify(problem_dict[cur_topic_value][cur_index]["choices"]).substring(1).slice(0, -1);
			katex.render(problem_dict["Number Theory"][cur_index]["prompt"], problem_prompt);
			katex.render(problem_dict["Number Theory"][cur_index]["choices"], problem_choices);
			// console.log(document.getElementById("problem_prompt").innerHTML);
			// console.log(document.getElementById("problem_choices").innerHTML);
			console.log(cur_index);
		}
	</script>
	<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script>
		$(document).ready(function() {
			$("a").click(function(event) {
				val = event.target.id;
				if (val.includes("set_topic")) { //setting one of the math topics
					topic = val.substring("set_topic_".length);
					document.getElementById("cur_topic").innerHTML = topic;
					cur_topic_value = topic;
					$('#stats').css('display', 'none');
					$('#choose_topic').css('display', 'none');
					$('#reg').css('display', 'block');
					$('#sort_problems').css('display', 'none');
				}
				if (val === "settings") {
					$('#stats').css('display', 'none');
					$('#reg').css('display', 'none');
					$('#choose_topic').css('display', 'none');
					$('#sort_problems').css('display', 'block');
				}
				if (val === "cur_topic") {
					$('#stats').css('display', 'block');
					$('#choose_topic').css('display', 'block');
					$('#reg').css('display', 'none');
					$('#sort_problems').css('display', 'none');
				}
				// alert(val);
			});
		});
	</script>
	<script>
		$('body').click(function(){
			$('#usermenu').hide();
			$(document).on('click', function(e) {
				if ($(e.target).closest('#toggle').length ) {
					if ($("#usermenu").css('display') === 'none') {
						$("#usermenu").show();
					}
					else {
						$("#usermenu").hide();	
					}
				}
				else if (!$(e.target).closest('#usermenu').length) {
					$('#usermenu').hide();
				}
			});
		});
	</script>
	<script>
		var topics_array = [];
		{% for a in topics %}
		topics_array.push("{{a|replaceSpaceWithUnderScore|trim|lower}}")
		{% endfor %}
	</script>
	<script>
		function notify() {
			var r = confirm("Once you download the solution, your scores for this topic will be locked and you will no longer be able to improve them")
			if (r == true) {
				return true;
			}
			else {
				return false;
			}
		}
	</script>
</html>
