<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">
		<meta name="author" content="Michael Wan">

		<title>{{ formatted_class_name }}</title>
		{% load static %}
		<link rel = "icon" href = "{% static 'img/icon/blackbox.png' %}">
		{% load static %}
		<meta property="og:image" content="{% static 'img/icon/icon.png' %}"/>

		{% load static %}
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'theme/vendor/bootstrap/css/bootstrap.css' %}"/>
		{% load static %}
		<link href="{% static 'stylesheets/odometer.css' %}" rel="stylesheet">
		{% load static %}
		<link href="{% static 'stylesheets/input.css' %}" rel="stylesheet">

		<!-- Theme CSS -->
		{% load static %}
		<link href="{% static 'theme/css/agency.css' %}" rel="stylesheet">
		
		<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

		<style>
			{% ifnotequal 'Grader' submit_type %}
			.problems_container {
				max-height: 750px;
				overflow-y: scroll
			}
			{% endifnotequal %}
			.border {
				border-radius:4px;
				border: 2px solid #4684ED;
				background: #4684ED;
				padding: 4px 8px 4px 8px;
				display: inline;
				text-align: center;
				color: white;
			}
			.border a {
				font-weight: 500;
				color: white;
			}
			.noselect {
				-webkit-user-select: none;  /* Chrome all / Safari all */
				-moz-user-select: none;     /* Firefox all */
				-ms-user-select: none;      /* IE 10+ */
				user-select: none;          /* Likely future */      
			}
			.dropdown-menu li a:hover,
			.dropdown-menu li a:focus {
				color: #111111 !important;
			}
		</style>
	</head>

	<body id="page-top" class="index">
		{% load student_extras %}
		<!-- Navigation -->
		<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style = "background-color: #222222 !important">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top" style = "color: #FFFFFF !important">{{ formatted_class_name }}</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li><a class = "page-scroll" href="/">Home</a></li>
						<li><a class = "page-scroll" href="/team/">Team</a></li>
						<li><a class = "page-scroll" href="/classes/">Classes</a></li>
						<li><a class = "page-scroll" href="/photo/">Photo Gallery</a></li>
						<li><a class = "page-scroll" href="/contact/">Contact</a></li>
						{% ifequal login "0" %}
							<li>
								<a class = "page-scroll" href="/student/"><div class='border'>Sign in</div></a>
							</li>
						{% else %}
							<li>
								<a class="page-scroll dropdown-toggle" id = "toggle" style = "cursor: pointer"> <!-- btn btn-primary -->
									<div class = 'border'>
										<i class="fa fa-user fa-lg" aria-hidden="true"></i>
									</div>
								</a>
								<div class="dropdown">
									<ul class="noselect dropdown-menu" id = "usermenu" style = "display: none">
										<li><a href="/student/">Student Portal</a></li>
										<li><a href="/student/account">Account Details</a></li>
										<!-- <br> -->
										<li style = "margin: 10px 5px 2px 5px">
											<form id = "logout_element" action="{% url 'student:logout' %}" method="POST" style="display: inline;">
												{% csrf_token %}
												<div class = 'border' style = "display: block; margin: 0px 5px -15px 5px">
													<a href = "#" onclick = "document.getElementById('logout_element').submit();">Logout</a>
												</div>
											</form>
										</li>
									</ul>
								</div>
							</li>
						{% endifequal %}
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<section id = "main" style = "padding-bottom: 15vh !important">
			<div class = "noselect container">
				<div row>
					<div class = "col-sm-6">
						Logged in as <b><i>{{ username }}</i></b><br>
						<a href = "/student/">Home</a>
						<h2>{{ formatted_class_name }}</h2>
						{% ifnotequal '-' message %}
						{{message}}
						{% endifnotequal %}
						{% ifequal 'MultipleChoice' submit_type %}
						<ul>
							{% for t in topics %}
								{% load static %}
								{% with t|replaceSpaceWithUnderScore|trim|lower as tt %}
								<li>
									<b>{{ t }}</b> {% if lock|key:tt == "True" %}-<span style = "color: #FF1919"> Locked</span>{% endif %}
									{% ifequal "True" scores|key:tt|key:'displayScores' %}
										<br>Score(s):<br>
									{% endifequal %}
									{% with scores|key:tt|length|add:"-1" as l %}
									{% for i in l|get_range %}
										{% ifnotequal '' scores|key:tt|key:i %}
											{% if i == 0 %}Easy:{% endif %}
											{% if i == 1 %}Medium:{% endif %}
											{% if i == 2 %}Hard:{% endif %}
											{{scores|key:tt|key:i}}
											{% if i == 0 %}
												{% with class_name|add:"_easy_"|add:tt as ss %}
												{% with num_tries|key:ss as try_val %}
												[{{try_val}} {% if try_val == 1 %}try{% else %}tries{% endif %}]
												{% endwith %}{% endwith %}
											{% endif %}
											{% if i == 1 %}
												{% with class_name|add:"_medium_"|add:tt as ss %}
												{% with num_tries|key:ss as try_val %}
												[{{try_val}} {% if try_val == 1 %}try{% else %}tries{% endif %}]
												{% endwith %}{% endwith %}
											{% endif %}
											{% if i == 2 %}
												{% with class_name|add:"_hard_"|add:tt as ss %}
												{% with num_tries|key:ss as try_val %}
												[{{try_val}} {% if try_val == 1 %}try{% else %}tries{% endif %}]
												{% endwith %}{% endwith %}
											{% endif %}
											{% if i != l|add:"-1" %}
												{% with i|add:"1" as j %}
													{% if '' != scores|key:tt|key:j %},{% endif %}
												{% endwith %}
											{% endif %}
										{% endifnotequal %}
									{% endfor %}
									{% endwith %}
									<br>
									<a id = "submit_{{t|replaceSpaceWithUnderScore|trim|lower}}" href = "#">[Submit Answers]</a><br>
									<a href = "{% static "curriculum/"|add:class_name|add:"/"|add:t|replaceSpaceWithUnderScore|trim|lower|add:".pdf" %}" download = "{{t|replaceSpaceWithUnderScore|trim|lower|add:".pdf"}}">[Download Problems]</a>
									<form id = "{{t|replaceSpaceWithUnderScore|trim|lower}}" action="{% url 'student:lock_topic' %}" method="POST" style="display: inline;">
										{% csrf_token %}
										<input type="hidden" name="topic_id" value="{{class_name}}_{{t|replaceSpaceWithUnderScore|trim|lower}}">
										<a href = "{% static "curriculum/"|add:class_name|add:"/solutions/"|add:t|replaceSpaceWithUnderScore|trim|lower|add:".pdf" %}" download = "{{t|replaceSpaceWithUnderScore|trim|lower|add:"_solutions.pdf"}}" onclick="return (notify() && document.getElementById('{{t|replaceSpaceWithUnderScore|trim|lower}}').submit());">
									</form>
									[Download Solutions]
									</a>
								</li>
								<br>
								{% endwith %}
							{% endfor %}
						</ul>
						{% endifequal %}
						{% ifequal 'Grader' submit_type %}
						<ul>
							{% for t in topics %}
								{% load static %}
								{% with t|replaceSpaceWithUnderScore|trim|lower as tt %}
								<li>
									<b>{{ t }}</b> {% if lock|key:tt == "True" %}-<span style = "color: #FF1919"> Locked</span>{% endif %}
									{% ifequal "True" scores|key:tt|key:'displayScores' %}
										<br>Score(s):<br>
									{% endifequal %}
									{% with scores|key:tt|length|add:"-1" as l %}
									{% for i in l|get_range %}
										{% ifnotequal '' scores|key:tt|key:i %}
											{% if i == 0 %}Easy:{% endif %}
											{% if i == 1 %}Medium:{% endif %}
											{% if i == 2 %}Hard:{% endif %}
											{{scores|key:tt|key:i}}
											{% if i == 0 %}
												{% with class_name|add:"_easy_"|add:tt as ss %}
												{% with num_tries|key:ss as try_val %}
												[{{try_val}} {% if try_val == 1 %}try{% else %}tries{% endif %}]
												{% endwith %}{% endwith %}
											{% endif %}
											{% if i == 1 %}
												{% with class_name|add:"_medium_"|add:tt as ss %}
												{% with num_tries|key:ss as try_val %}
												[{{try_val}} {% if try_val == 1 %}try{% else %}tries{% endif %}]
												{% endwith %}{% endwith %}
											{% endif %}
											{% if i == 2 %}
												{% with class_name|add:"_hard_"|add:tt as ss %}
												{% with num_tries|key:ss as try_val %}
												[{{try_val}} {% if try_val == 1 %}try{% else %}tries{% endif %}]
												{% endwith %}{% endwith %}
											{% endif %}
											{% if i != l|add:"-1" %}
												{% with i|add:"1" as j %}
													{% if '' != scores|key:tt|key:j %},{% endif %}
												{% endwith %}
											{% endif %}
										{% endifnotequal %}
									{% endfor %}
									{% endwith %}
									<br>
									<a href = "{% static "curriculum/"|add:class_name|add:"/"|add:t|replaceSpaceWithUnderScore|trim|lower|add:".pdf" %}" download = "{{t|replaceSpaceWithUnderScore|trim|lower|add:".pdf"}}">[Download Problems]</a>
									</a>
								</li>
								<br>
								{% endwith %}
							{% endfor %}
						</ul>
						{% endifequal %}
					</div>
					{% ifequal 'MultipleChoice' submit_type %}
					<div class = "col-sm-6">
						<div class = "problems_container" style = "display: none">
							{% for tmp in topics %}
							<fieldset id = "easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}" style = "display: none">
								<form action="{% url 'student:submit_answer' %}" method="post">
									{% csrf_token %}
									<legend><b>{{ tmp }} - Easy</b></legend>
									{% for i in num_easy|key:tmp %}
										{% with class_name|add:"_easy_"|add:tmp|replaceSpaceWithUnderScore|trim|lower as s %}
										{% with saved_answers|key:s as val %}
										{% with correct_answers|key:s as ans %}
										{% with i|add:"-1" as j %}
										{% if val|charAt:j != "-" and val|charAt:j != ans|charAt:j %}<span style="color:red">{% endif %}{{ i }}.{% if val|charAt:j != "-" and val|charAt:j != ans|charAt:j %}</span>{% endif %}
										<input type="hidden" name="problem_id" value="{{class_name}}_easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}">
										<input type = "radio" name = "{{class_name}}_easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "-" style="display:none" {% if val|charAt:j == "-" %}checked{% endif %}>
										<input type = "radio" name = "{{class_name}}_easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "A" {% if val|charAt:j == "A" %}checked{% endif %}>&nbsp;A&nbsp;
										<input type = "radio" name = "{{class_name}}_easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "B" {% if val|charAt:j == "B" %}checked{% endif %}>&nbsp;B&nbsp;
										<input type = "radio" name = "{{class_name}}_easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "C" {% if val|charAt:j == "C" %}checked{% endif %}>&nbsp;C&nbsp;
										<input type = "radio" name = "{{class_name}}_easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "D" {% if val|charAt:j == "D" %}checked{% endif %}>&nbsp;D&nbsp;
										<input type = "radio" name = "{{class_name}}_easy_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "E" {% if val|charAt:j == "E" %}checked{% endif %}>&nbsp;E<br><br>
										{% endwith %}{% endwith %}{% endwith %}{% endwith %}
									{% endfor %}
									<input type = "submit" value = "Submit"><br>
								</form>
							</fieldset>
							<fieldset id = "medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}" style = "display: none">
								<form action="{% url 'student:submit_answer' %}" method="post">
									{% csrf_token %}
									<legend><b>{{ tmp }} - Medium</b></legend>
									{% for i in num_medium|key:tmp %}
										{% with class_name|add:"_medium_"|add:tmp|replaceSpaceWithUnderScore|trim|lower as s %}
										{% with saved_answers|key:s as val %}
										{% with correct_answers|key:s as ans %}
										{% with i|add:"-1" as j %}
										{% if val|charAt:j != "-" and val|charAt:j != ans|charAt:j %}<span style="color:red">{% endif %}{{ i }}.{% if val|charAt:j != "-" and val|charAt:j != ans|charAt:j %}</span>{% endif %}
										<input type="hidden" name="problem_id" value="{{class_name}}_medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}">
										<input type = "radio" name = "{{class_name}}_medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "-" style="display:none" {% if val|charAt:j == "-" %}checked{% endif %}>
										<input type = "radio" name = "{{class_name}}_medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "A" {% if val|charAt:j == "A" %}checked{% endif %}>&nbsp;A&nbsp;
										<input type = "radio" name = "{{class_name}}_medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "B" {% if val|charAt:j == "B" %}checked{% endif %}>&nbsp;B&nbsp;
										<input type = "radio" name = "{{class_name}}_medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "C" {% if val|charAt:j == "C" %}checked{% endif %}>&nbsp;C&nbsp;
										<input type = "radio" name = "{{class_name}}_medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "D" {% if val|charAt:j == "D" %}checked{% endif %}>&nbsp;D&nbsp;
										<input type = "radio" name = "{{class_name}}_medium_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "E" {% if val|charAt:j == "E" %}checked{% endif %}>&nbsp;E<br><br>
										{% endwith %}{% endwith %}{% endwith %}{% endwith %}
									{% endfor %}
									<input type = "submit" value = "Submit"><br>
								</form>
							</fieldset>
							<fieldset id = "hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}" style = "display: none">
								<form action="{% url 'student:submit_answer' %}" method="post">
									{% csrf_token %}
									<legend><b>{{ tmp }} - Hard</b></legend>
									{% for i in num_hard|key:tmp %}
										{% with class_name|add:"_hard_"|add:tmp|replaceSpaceWithUnderScore|trim|lower as s %}
										{% with saved_answers|key:s as val %}
										{% with correct_answers|key:s as ans %}
										{% with i|add:"-1" as j %}
										{% if val|charAt:j != "-" and val|charAt:j != ans|charAt:j %}<span style="color:red">{% endif %}{{ i }}.{% if val|charAt:j != "-" and val|charAt:j != ans|charAt:j %}</span>{% endif %}
										<input type="hidden" name="problem_id" value="{{class_name}}_hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}">
										<input type = "radio" name = "{{class_name}}_hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "-" style="display:none" {% if val|charAt:j == "-" %}checked{% endif %}>
										<input type = "radio" name = "{{class_name}}_hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "A" {% if val|charAt:j == "A" %}checked{% endif %}>&nbsp;A&nbsp;
										<input type = "radio" name = "{{class_name}}_hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "B" {% if val|charAt:j == "B" %}checked{% endif %}>&nbsp;B&nbsp;
										<input type = "radio" name = "{{class_name}}_hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "C" {% if val|charAt:j == "C" %}checked{% endif %}>&nbsp;C&nbsp;
										<input type = "radio" name = "{{class_name}}_hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "D" {% if val|charAt:j == "D" %}checked{% endif %}>&nbsp;D&nbsp;
										<input type = "radio" name = "{{class_name}}_hard_{{tmp|replaceSpaceWithUnderScore|trim|lower}}_{{i}}" value = "E" {% if val|charAt:j == "E" %}checked{% endif %}>&nbsp;E<br><br>
										{% endwith %}{% endwith %}{% endwith %}{% endwith %}
									{% endfor %}
									<input type = "submit" value = "Submit"><br>
								</form>
							</fieldset>
							{% endfor %}
						</div>
					</div>
					{% endifequal %}
					{% ifequal 'Grader' submit_type %}
					<div class = "col-sm-6">
						<div class = "problems_container">
							<form enctype="multipart/form-data" method="POST" action="{% url 'student:submit_answer' %}">
								{% csrf_token %}
								<fieldset>
									<label for="problem">Problem:</label>
									<select name="problem_id" class="formatted problem_list">
										{% for j in topics %}
											{% for i in problem_list|key:class_name|key:j %}
												<div>
													<option id = '{{i}}' value='{{i}}'>{{i}} [{{j}}]</option>
												</div>
											{% endfor %}
										{% endfor %}
									</select>
									<label for="language">Language:</label>
									<select name="language">
										<option value='C'>C</option>
										<option value='C++'>C++</option>
										<option value='C++11'>C++11</option>
										<option value='Java'>Java</option>
										<option value='Pascal'>Pascal</option>
										<option value='Python_2.7.6'>Python 2.7.6</option>
										<option value='Python_3.4.0'>Python 3.4.0</option>
									</select>
									<label for="sourcefile">Source File:</label>
									<input name="sourcefile" size="10" type="file" class="required"/>
									<input type="submit" value="Submit Solution"/>
								</fieldset>
							</form>
						</div>
					</div>
					{% endifequal %}
				</div>
			</div>
		</section>
		<hr>
		<footer container class="siteFooter">
			<div class = "noselect container">
				<p>Copyright &copy; 2017 by CalTutors <span style = "float: right"><a href = "mailto:contact@cupertutors.org"><i class="fa fa-envelope"></i></a></span></p>
			</div>
		</footer>
	</body>
	<br><br>
	<!-- jQuery -->
	{% load static %}		
	<script src="{% static 'theme/vendor/jquery/jquery.min.js' %}"></script>
	<!-- Bootstrap Core JavaScript -->
	{% load static %}		
	<script src="{% static 'theme/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- Plugin JavaScript -->
	{% load static %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Contact Form JavaScript -->
	{% load static %}
	<script src="{% static 'theme/js/jqBootstrapValidation.js' %}"></script>
	{% load static %}		
	<script src="{% static 'theme/js/contact_me.js' %}"></script>
	<!-- Theme JavaScript -->
	{% load static %}		
	<script src="{% static 'theme/js/agency.min.js' %}"></script>
	<!-- Odometer JavaScript -->
	{% load static %}
	<script src="{% static 'js/odometer.js' %}"></script>
	<!-- Waypoints -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<!-- select2 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<script>
		function formatState (state) {
			var $state = $(
				'<span style = "float:left">' + state.id + '</span>' + 
				'<span style = "float:right"><b>' + state.text.substring(state.text.indexOf('[')) + '</b></span>' + 
				'<div style = "clear:both"></div>'
			);
			return $state;
		};
	</script>
	<script>
		$(".problem_list").select2({
			// tags: true,
		})
		$(".formatted").select2({
			templateResult: formatState
		})
	<script>
		$('body').click(function(){
			$('#usermenu').hide();
			$(document).on('click', function(e) {
				if ($(e.target).closest('#toggle').length ) {
					if ($("#usermenu").css('display') === 'none') {
						$("#usermenu").show();
					}
					else {
						$("#usermenu").hide();	
					}
				}
				else if (!$(e.target).closest('#usermenu').length) {
					$('#usermenu').hide();
				}
			});
		});
	</script>
	<script>
		{% ifequal 'MultipleChoice' submit_type %}
		$('a').click(function() {
			if ($(this).attr('id').includes('submit')) {
				topic_name = $(this).attr('id').substring($(this).attr('id').indexOf('_')+1)
				for (i = 0; i < topics_array.length; i++) {
					if (topics_array[i] != topic_name) {
						$('#easy_' + topics_array[i]).css('display', 'none')
						$('#medium_' + topics_array[i]).css('display', 'none')
						$('#hard_' + topics_array[i]).css('display', 'none')
						console.log(topics_array[i]);
					}
				}
				$('.problems_container').css('display', $('#easy_' + topic_name).css('display') === "none" ? 'block' : 'none')
				$('#easy_' + topic_name).css('display', $('#easy_' + topic_name).css('display') === "none" ? 'block' : 'none')
				$('#medium_' + topic_name).css('display', $('#medium_' + topic_name).css('display') === "none" ? 'block' : 'none')
				$('#hard_' + topic_name).css('display', $('#hard_' + topic_name).css('display') === "none" ? 'block' : 'none')
			}
		})
		{% endifequal %}
	</script>
	<script>
		var topics_array = [];
		{% for a in topics %}
		topics_array.push("{{a|replaceSpaceWithUnderScore|trim|lower}}")
		{% endfor %}
	</script>
	<script>
		function notify() {
			var r = confirm("Once you download the solution, your scores for this topic will be locked and you will no longer be able to improve them")
			if (r == true) {
				return true;
			}
			else {
				return false;
			}
		}
	</script>
</html>
